.card-dev {
  width: 280px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  margin: 20px;
  justify-items: center;
}

.card-dev-foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #c1deb5;
}

.card-dev-foto img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-dev-info {
  padding: 20px 15px;
}

.card-dev-nome {
  font-family: "HeroBump";
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: #fff;
}

.card-dev-especialidade {
  margin: 0 0 15px 0;
  font-size: 1.3rem;
  color: #c1deb5;
  font-weight: 600;
  font-family: "Open Sans";
}

.card-dev-redes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social-icon {
  font-size: 1.8rem;
  color: #c1deb5;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  color: #fff;
}
