.tela-fases-container {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #00592d;
  border-radius: 15px;
  max-width: 99.9%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tela-fases-container p {
  color: #fff;
  font-weight: 700;
}

.tela-fases-container h2 {
  font-family: "Hero Bump";
  color: #fff;
}

.fase-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #00bf63;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.btn {
  font-family: "Hero Bump";
  width: 150px;
  height: 50px;
  background-color: #8b4513;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.btn:hover:not(:disabled) {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.btn:active:not(:disabled) {
  transform: translateY(2px);
}

.fases-lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  padding: 20px;
}

.fase-item {
  font-family: "Open Sans";
  font-size: 16px;
  padding: 10px;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  background-color: #8b4513;
  color: white;
  font-weight: 600;
  flex-shrink: 0;
}

.fase-item:hover:not(:disabled) {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.fase-item:active:not(:disabled) {
  transform: translateY(2px);
}

.fase-item.completa {
  background-color: #4caf50;
  color: white;
  border-bottom: 4px solid #2e7d32;
}

.fase-item.completa:hover {
  background-color: #2e7d32;
  border-bottom: 4px solid #4caf50;
}
