.container-floresta {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-floresta h2 {
  font-family: "Hero Bump";
  color: #fff;
}

.container-floresta p {
  font-family: "Open Sans";
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.alerta {
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: 10px 0;
}

.alerta h3 {
  margin: 0;
}

.alerta p {
  margin: 10px 0;
}

.alerta-perfeito {
  background-color: #4caf50;
}

.alerta-vitoria {
  background-color: #2196f3;
}

.estatisticas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px 0;
  border-radius: 12px;
  background-color: #00592d;
}

.buttons-floresta {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.buttons-floresta button {
  font-family: "Hero Bump";
  font-size: 24px;
  min-width: 130px;
  background-color: #8b4513;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.buttons-floresta button:hover {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.buttons-floresta button:active {
  transform: translateY(2px);
}

.slots-container {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  background-image: url("../assets/grassbackground.jpg");
  background-repeat: repeat;
  background-size: 50px;
}

.slot-arvore {
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
}

.slot-arvore img {
  box-sizing: border-box;
  border-radius: 12px;
  width: 100px;
  height: auto;
  max-width: 100px;
}
