.form-container {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 550px;
  padding: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container-centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.form-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.form-content {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  min-height: 100%;
  box-sizing: border-box;
}

.form-title {
  color: #fff;
  font-family: "Hero Bump";
  font-size: 40px;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

.inputs {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 4px solid #c1ff72;
  background-color: #00bf63;
  color: #fff;
  font-weight: bold;
}

.inputs::placeholder {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
}

.inputs::-webkit-input-placeholder {
  color: #fff;
}

.form-error {
  color: #b22323;
  font-weight: 700;
  margin: 10px 0;
}

.mensagem-sucesso {
  color: white;
  font-weight: bold;
}

.form-button {
  width: 100%;
  padding: 10px;
  background: #478df2;
  color: #fff;
  border: 4px solid #0cc0df;
  border-radius: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.form-button:hover:not(:disabled) {
  background: #3a7bd5;
  border-color: #0aa8c0;
}

.form-button:active:not(:disabled) {
  transform: translateY(2px);
}

.form-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.form-switch {
  margin: 30px 0;
  text-align: right;
}

.form-switch label {
  font-weight: 800;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}