.login-container {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 550px;
  padding: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.login-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.login-form {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-title {
  color: #fff;
  font-family: "Hero Bump";
  font-size: 40px;
  margin: 0;
}

.inputs {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 4px solid #c1ff72;
  background-color: #00bf63;
  color: #fff;
  font-weight: bold;
}

.inputs::placeholder {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
}

.inputs::-webkit-input-placeholder {
  color: #fff;
}

.login-forgot {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}

.login-forgot label {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

.login-error {
  color: #b22323;
  font-weight: 700;
  margin: 10px 0;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #478df2;
  color: #fff;
  border: 4px solid #0cc0df;
  border-radius: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover:not(:disabled) {
  background: #3a7bd5;
  border-color: #0aa8c0;
}

.login-button:active:not(:disabled) {
  transform: translateY(2px);
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-social {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-ou {
  color: #fff;
  font-weight: 700;
}

.login-icons {
  display: flex;
  justify-content: space-between;
}

.icon-button {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.icon-button img {
  height: 40px;
}

.icon-button label {
  color: #fff;
  font-weight: 700;
}

.register-button {
  width: 100%;
  padding: 10px;
  background: #478df2;
  color: #fff;
  border: 4px solid #0cc0df;
  border-radius: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.register-button:hover {
  background: #3a7bd5;
  border-color: #0aa8c0;
}

.register-button:active {
  transform: translateY(2px);
}