.game-over-screen {
  text-align: center;
  padding: 2rem;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-stats {
  margin: 2rem 0;
}

.mensagem-sucesso,
.mensagem-alerta {
  color: #ccfd72;
  font-weight: bold;
  font-size: 1.5em;
}

.destaque-sucesso,
.destaque-alerta {
  color: #bf6300;
}

.game-over-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.restart-button,
.menu-button {
  font-family: "Hero Bump";
  font-size: 24px;
  padding: 10px;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #8b4513;
}

.restart-button:hover,
.menu-button:hover {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.restart-button:active,
.menu-button:active {
  transform: translateY(2px);
}