.intro {
  align-items: center;
  background-color: azure;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/folhagem-e-plantas-exoticas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  display: grid;
  gap: 40px;
  min-height: 550px;
  padding: 15px;
  width: 100%;
}

.titulo {
  font-family: "Hero Bump";
  margin: 0;
  margin-right: auto;
}

.iniciar-jogo {
  background-color: saddlebrown;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-family: "Hero Bump";
  font-weight: 600;
  height: 50px;
  margin: 0;
  padding: 10px;
  width: 200px;
}

.iniciar-jogo:hover {
  background-color: #572b0c;
  border-bottom: 4px solid saddlebrown;
}

.iniciar-jogo:active {
  transform: translateY(2px);
}

.intro button {
  margin-left: auto;
}

.container-descricao,
.container-descricao-2 {
  align-items: center;
  display: grid;
  gap: 15px;
  justify-items: center;
}

.container-descricao {
  grid-template-columns: 3fr 1fr;
}

.container-descricao-2 {
  grid-template-columns: 1fr 3fr;
}

.container-descricao img,
.container-descricao-2 img {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 5px;
  width: 100px;
}

.descricao-game {
  background: #111;
  border: 2px solid #fff;
  border-radius: 8px;
  font-family: "Open Sans";
  padding: 10px;
  text-align: justify;
}

.container-descricao-2 strong{
    font-family: "Open Sans";
    font-size: 14px;
}

.descricao-game h3 {
  font-size: 18px;
  margin: 0;
  margin-right: auto;
}

.descricao-game p {
  font-size: 14px;
}