.container-menu {
  box-sizing: border-box;
  padding: 1rem;
  min-height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 15px;
  background-color: azure;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/folhagem-e-plantas-exoticas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-menu {
  width: 100%;
  height: 100%;
}

.logo-menu img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 12px;
}

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #eee;
  font-family: Hero Bump;
}

.mensagem-info {
  padding: 20px;
  text-align: center;
}

.container-menu h2 {
  width: 300px;
  font-size: 40px;
  margin: 0;
}

.menu h3 {
  width: 300px;
  margin: 0;
  padding: 10px;
  background-color: saddlebrown;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.menu h3:hover {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.menu h3:active {
  transform: translateY(2px);
}

.menu h3.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.menu h3.disabled:hover {
  background-color: saddlebrown;
  border-bottom: 4px solid #572b0c;
}
