/* Estilos gerais do container do quiz */
.quiz-fase-container,
.resultado-fase {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #00592d;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) inset;
  max-width: 99.9%;
  min-height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.quiz-fase-container h2,
h3 {
  color: #fff;
}

.quiz-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #00bf63 ;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.back-btn{
    font-family: "Hero Bump";
    font-size: 24px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    background-color: #8b4513;
    border-width: 0;
    border-bottom: 4px solid #572b0c;
    border-radius: 12px;
    color: white;
    padding: 10px;
}
.back-btn:hover:not(:disabled) {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.back-btn:active:not(:disabled) {
  transform: translateY(2px);
}

.quiz-questao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    flex: 1;
}

.quiz-questao h3{
    font-size: 28px;
}

.alternativas-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.alternativa-btn {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  border-width: 0;
  border-bottom: 4px solid #572b0c;
  border-radius: 12px;
  cursor: pointer;
  background-color: #8b4513;
  color: white;
  transition: background-color 0.2s;
}

.alternativa-btn:hover:not(:disabled) {
  background-color: #572b0c;
  border-bottom: 4px solid #8b4513;
}

.alternativa-btn:active:not(:disabled) {
  transform: translateY(2px);
}

.alternativa-btn:disabled {
  cursor: not-allowed;
}

/* Feedback visual */
.feedback {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.feedback.correto {
  color: #00bf63; /* Verde */
}

.feedback.incorreto {
  color: #dc3545; /* Vermelho */
}

/* Tela de resultado */
.resultado-fase h2 {
  color: #fff;
}

.resultado-fase .vitoria {
  color: #2e8b57; /* Verde escuro */
  font-size: 20px;
  font-weight: bold;
}

.resultado-fase .derrota {
  color: #b22222; /* Vermelho escuro */
  font-size: 20px;
  font-weight: bold;
}
